body{
  margin: 20px;
  font-family: verdana;
}
.resaltado{
  background-color: #FFFF00;
  color: black;
}

#menu-principal{
  padding: 10px 0px;
}

h1.titulo{
  background-color: aliceblue;
  padding: 10px;
  text-align: center;
}

footer{
  border-top: solid 1px black;
  padding: 10px;
  text-align: center;
}
